.cache
.vscode
.DS_Store

data
build
output
cache
nc_workspace
__pycache__

*.om
*.log
*.err
*.wts
*.xml
*.bin
*.onnx
*.blob
*.engine
*.cdf
*.exe
*.dll

# Linux test binaries / intermediate objects
tests_local/test_cuda_driver
test/sm120_mve/mve_main
test/sm120_integration/work/
test/sm120_integration/*.o
